AGRI_MORTGAGE_MYSQL_ROOT_PASSWORD=
AGRI_MORTGAGE_DB_PASSWORD=
AGRI_MORTGAGE_JWT_SECRET=
AGRI_MORTGAGE_ADMIN_PASSWORD=
AGRI_MORTGAGE_OFFICER_PASSWORD=
AGRI_MORTGAGE_REVIEWER_PASSWORD=
AGRI_MORTGAGE_BORROWER_PASSWORD=
